  <div id="formmargin">
<%= form_for(@newpost) do |f| %>
  <% if @newpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newpost.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @newpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    Name : <br>
    <%= f.text_field :username, id: 'nameget', onfocus:"if (this.value=='...person your impersonating here......') this.value='';"%>
  </div>
  <div class="field">
    <%= f.label :avatar %> :<br>
    <%= f.text_field :avatar, id: 'imageget', onfocus: "if (this.value=='....copy url address of image here.....') this.value='';" %>
  </div>
  <div class="field">
    Post :<br>
    <%= f.text_area :userpost, id: 'textget', onfocus: "if (this.value=='...Write your post here...') this.value='';" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  </div>
