  <div id="formmargin">
<%= form_for(@newpost) do |f| %>
  <% if @newpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newpost.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @newpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :userpost %><br>
    <%= f.text_field :userpost %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  </div>
