<p id="notice"><%= notice %></p>

    
<!-- PRINTS OUT ERRORS IN ATTEMPTING TO ADD SOMETHING TO DB-->
        <% @newpost = Post.new %>
        <%= form_for(@newpost) do |f| %>
        <%      if @newpost.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@newpost.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
        <% @newpost.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
          </div>
            <% end %>
            <div class="post" id="newpost">
            <form method="post" action="/form">
            Name :  <%= f.text_field :username, id: 'nameget', value: '...person your impersonating here......', onfocus:"if (this.value=='...person your impersonating here......') this.value='';" %><br>
            Avatar :  <%= f.text_field :avatar, id: 'imageget', value: '....copy url address of image here.....', onfocus: "if (this.value=='....copy url address of image here.....') this.value='';"%> <br>
            <%= f.text_area :userpost, id: 'textget', value: '...Write your post here...', onfocus: "if (this.value=='...Write your post here...') this.value='';" %> 
            <%= f.submit id: 'submit' %>
          </form>
        </div> <!--end of newpost /post -->

        <% end %>


        



<% if @posts.nil?  %>
      <div class="post">
                <img src="manila.JPG">
                <div class="ptext">
                    <p id="name"> Not Availble </p> 
                    <p id="text"> I'm sorry your not getting anything from the database, or there is nothing in the database, or you went too far, click the top to refresh</p>
                    <p id="time"> Infinity </p>
                </div>
            </div>
    
    <% else 
        @posts.each do |post|   %> 

        <div class="post">
          <img src="<%= post.avatar%>">
          <div class="ptext">
            <p id="name"> <%= post.username %></p> 
            <p id="text"> <%= post.userpost %></p>
            <div id="empty_p_button"></div>
            <div id="postbutton"><p > <%= link_to 'Show', post %> </p></div>
            <div id="postbutton"><p > <%= link_to 'Edit', edit_post_path(post) %></p></div>
            <div id="postbutton"><p > <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> </p></div>
            <p id="time"> <%= post.created_at %> </p>
            
          </div>
        </div> <!-- end of post -->

    <%
          end 
       end
               
     %>

     <!-- PAGINATION PART -->

  



